/***** BASE STYLES *****/
body{
  font-family: 'Kumbh Sans', sans-serif;
  color: #2b2b2b;
  font-weight: 400;
}

#info-box span{
  font-weight: 700;
}

.attribution { 
  font-size: 11px;
  text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}
