/***** BASE STYLES *****/
body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}


/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width{
  width: 400px;
  float: left;
}

/***** HOMEPAGE *****/
/***** HEADER *****/

header {
  height: 650px;
  background: url('../img/full-background.png');
  background-position: right;
  background-size: cover;
}

header h1 {
  padding: 65px 0 10px 25px;
  font-family: 'Lora', serif;
  font-size: 30px;
  color: #8e768b;
}
 nav {
      float: right;
      padding: 75px 25px;
  }
  nav ul li{
      display: inline-block;
  }
  nav ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
      color: #786475;
      padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 60px;
    line-height: 40px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
    float: inherit;
}


/***** ABOUT *****/

#about .full-width {
  padding: 80px 0
}
#about h2 {
  color: #8e768b;
  font-family: 'Lora', bold;
  font-size: 36px;
  padding-left: 50px;
}
#about p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left:50px;
  padding-right:0px
}

/***** WORK *****/

#work {
    background-color: #F0F0F0;
    text-align: center;
}

#work .full-width {
  padding: 115px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  color: #8e768b;
  font-size: 22px;
  line-height: 32px;
  width: 200px;
  margin: 0 auto;
}

#work p {
  color: #7f7f7f;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}


/***** CONTACT PAGE*****/

#contact .full-width {
  padding: 110px 0;
}

#contact img#contact-img {
    margin-left: 25px;
    border: 5px solid #ece6ed;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    color: #8e768b;
    font-family:'Source Sans Pro';
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
}
#contact #email-header{
    color: #7f7f7f;
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 44px;
    margin: -20px 0 20px 0;
}
#contact #socialmedia-header {
    color: #7f7f7f;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 24px;
    line-height:44px;
    margin: 20px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #8e768b;
    font-weight: bold;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/*****PORTFOLIO-PAGE*****/

#examples {
  height: 500px;
}

#examples h3 {
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  color: #8e768b;
  font-family: 'Source Open Sans', bold;
  font-size: 22px;
}

#examples p {
  color: #7f7f7f;
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 20px 40px;
  padding: 0 10px;
}

#examples img{
  border: 2px solid #ece6ed;
  margin: 5px 10px 10px 40px;
}



footer .full-width {
  text-align: center;
  padding: 20px 0;
}

footer h1{
  color: #9b9b9b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

footer h2 {
  color: #9b9b9b;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-style: normal;
}
