/***** BASE STYLES *****/
body{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  background: hsl(185, 75%, 39%);
}

body p {
  font-weight: 400;
  text-align: center;
  color: hsl(0, 0%, 59%);
}

body span {
  font-weight: 700;
  color: black;
}

main {
  width: 1440px;
  height: auto;
  background: hsl(185, 75%, 39%);
}

#background {
  height: auto;
  width: auto;
}

.top-box {
  position: fixed;
  left: 15%;
  top: -20%;
}

.bottom-box {
  position: fixed;
  right: 15%;
  bottom: -20%;
}

#card {
  width: 360px;
  height: auto;
  position: absolute;
  left: 43%;
  top: 35%;
  background: transparent;
}

.pattern-card {
  margin: 0 0 -32px 0;
  width: 360px;
  border-radius: 20px 20px 0 0;
}

.photo-box {
  background-image: url("images/bg-pattern-card.svg");
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  height: 100%;
  width: auto;
  border: 5px;
  border-style: solid;
  border-color: white;
  margin: 0 auto -15% auto;
}

.name-box {
  background-color: white;
  height: 100px;
  padding: 50px 20px 10px 20px;
  border-bottom: solid lightgray 1px;
}

.stats-box {
  width: 360px;
  height: 80px;
  background-color: white;
  padding-top: 10px;
  border-radius: 0 0 20px 20px;
}

.stats {
  width: 120px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 24px;
}

.stats p {
  font-size: 12px;
}

.stats p span {
  font-size: 18px;
}

.footer {
  font-size: 11px;
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
  margin-bottom: 10px;
}

.footer a {
   color: hsl(228, 45%, 44%);
}
